<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/administration**" access="hasRole('Admin')" />
		
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		<form-login 
		    login-page="/logon"
		    default-target-url="/index"
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		<!-- enable csrf protection -->
		<csrf/>
	</http>


	<!-- Select users and user_roles from database -->
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
							   users-by-username-query=
									   "SELECT tblSECUser.Login,
									   	  	  	tblSECPassword.Password,
									   	  		tblSECUser.IsActive
									   	  		FROM `internet-shop`.tblSECUser
									   	  			INNER JOIN `internet-shop`.tblSECPassword
									   	  			ON tblSECUser.UserId = tblSECPassword.UserId
									   	  		WHERE tblSECUser.Login=?"
							   authorities-by-username-query=
									   "SELECT tblSECUser.Login,
									   			tblSECRole.Role
									    FROM `internet-shop`.tblSECUser
									     		INNER JOIN `internet-shop`.tblSECUserRole
									     		ON tblSECUser.UserId = tblSECUserRole.UserId
									     		INNER JOIN `internet-shop`.tblSECRole
									     		ON tblSECUserRole.RoleId = tblSECRole.RoleId
									     		WHERE tblSECUser.Login =?  " />
		</authentication-provider>
	</authentication-manager>

</beans:beans>